
body {
  margin: 0;
  padding: 0;
  background : url('https://abcoyuncak.net/static-assets/quizparty/_next/static/images/background-mobile-80e4cb88302b915369dd867d671d1656.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

span{
  color: rgb(54, 54, 154);
}
.navbar{
  position: absolute;
  left: 33%;
  top: 25%;
  transform: translate(-25,-25);
}
h1{
  font-size: 50px;
  display: flex;
}
.btn {
  border-radius: 20px;
  color: #fff;
  padding: 10px 50px;
  border: none;
  outline: none;
  font-weight: bolder;
  font-size:1.8em;
  background: rgb(127, 182, 209);
  margin-left: 30%;
}

.container {
  display: none;
  margin-top: 25vh;
}
.container h3 {
  color: rgb(12, 255, 227);
  text-align: center;
  font-size: 35px;
}
.container .clickIt{
  border-radius: 20px;
  color: rgb(254, 0, 0);
  font-weight: bolder;
  padding: 5px 60px;
  border: none;
  outline: none;
  background: rgb(0, 52, 143);
  cursor: pointer;
  opacity: 0.6;
  font-size: 20px;
  line-height: 2.5;
  transition: linear 0.5s;
}
.container .clickIt:hover{
  opacity: 1;
  color: white;
  box-shadow: 2px 2px 4px #000000;
}
.createQuiz{
  margin-left: 20%;
}
.startQuiz{
  margin-right: 20%;
}
a{
  list-style: none;
  color: none;
}
