/* -----------------------------------create menu-------------- */
.logo{
    width: 15%;
}
/* ----------------------------------form question--------------------------- */
.titleOfQuiz {
    width: 60%;
    margin:auto;
    margin-top: 65px;
    border-top: 5px solid #e8ad25;
    border-left:  solid #e8ad25;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px 0 20px 0;
    padding: 20px 0 20px 0px;
    background:white;
}
.titleOfQuiz .title{
    font-size: xx-large;
    margin-bottom: 2%;
}
.titleOfQuiz .form-control,
.titleOfQuiz .question{
<<<<<<< HEAD
border-bottom: 1px detted #e8ad25;
=======
    border-bottom: 1px detted #e8ad25;
>>>>>>> 6e460ceb54c028d9558907ab18e3d770b4f0a3a3
}
.addQuestion{
    width: 60%;
    margin:auto;
    margin-top: 3vh;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-left: 7px solid #e8ad25;
}
.addQuestion:last-child{
    margin-bottom: 3%;
}
.form-group{
    padding: 5px;
    width: 83%;
    margin: auto;
}
.form-control,
.question{
    width: 100%;
    height: 6vh;
    box-sizing: border-box;
    outline: none;
    border:0;
    font-size: 20px;
    background-color: none;
    padding-top: 10px;
}
.form-control:focus,
.questions .form-group .question:focus{
    border-top: 2px solid #000;
}
.questions  .form-control{
    border-bottom:  2px solid #000;
    margin-bottom: 15px;
}
.answer .form-group{
    outline: none;
    width: 42%;
    box-sizing: border-box;
    display: flex;
    justify-content: space_evenly;
    margin-right: 50%;
    
}
input[type='redio']{
    transform:scale(1.5);
}
.radioAnswer{
    margin: 20px 16px 0 0;
}
.submit{
    padding: 15px;
    margin: 20px;
    background: blue;
    border:none;
    border-radius: 5px;
    position: relative;
    left: 80%;
}

/* --------------------------------------display question------------------------ */
.displayQuestion{

    width: 60%;
    margin: auto;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
}

img{
    width:40px;
    position: relative;
    left: 70%;
}
.redioAnswer .answer{
    margin-left: 60px;
}
.titleQuestion{
font-size: 25px;
margin-top: 20px;
}
.titleAnswer{
    display: flex;
    justify-content:space-between;
}

input[type='number']{
    width: 30px;
}
/* .deleteQuestion{
    display: flex;
} */
.deleteQuestion{
    margin-bottom: 30px;
}

.makeQuestion{
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;    padding: 20px;
    width: 98%;
}
.bgScore{
    background: #e8ad25;
    padding: 20px;
    border-radius: 5px;
}
.bgScore:hover{
    background: #27b977;
}
.answerField {
    width: 100;
    align-items: center;
}